*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 40px 0 150px;
  background: #3fc2bb url("../img/header/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  padding: 16px 24px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__link:hover {
  color: #ffd703;
}

.btn-lightning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  max-width: 158px;
  padding: 14px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2c2c2c;
  background: #ffd703;
  border: 2px solid transparent;
  border-radius: 1000px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-lightning__text {
  margin-right: 8px;
}

.btn-lightning__icon {
  fill: #2c2c2c;
  display: block;
  width: 12px;
  height: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-lightning:hover {
  background: transparent;
  border: 2px solid #ffd703;
  color: #ffd703;
}

.btn-lightning:hover .btn-lightning__icon {
  fill: #ffd703;
}

.btn-lightning--transparent {
  background: transparent;
  border: 2px solid #ffd703;
  color: #ffd703;
}

.btn-lightning--transparent .btn-lightning__icon {
  fill: none;
  stroke: #ffd703;
}

.btn-lightning--transparent:hover {
  background: #ffd703;
  border: 2px solid transparent;
  color: #2c2c2c;
}

.btn-lightning--transparent:hover .btn-lightning__icon {
  fill: transparent;
  stroke: #2c2c2c;
}

.listen-to {
  margin-bottom: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listen-to__content {
  max-width: 900px;
}

.listen-to__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 106px;
  line-height: 130%;
  color: #f4f4f4;
}

.listen-to__text {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #cefffd;
  mix-blend-mode: normal;
}

.listen-to__play {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.listen-to__play img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}

.btn-hard {
  position: relative;
  padding: 23px 136px 23px 72px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2c2c2c;
  background: #ffd703;
  border-radius: 2000px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-hard:hover {
  background: #ffffff;
}

.btn-hard--hover-blue-green:hover {
  background: #3fc2bb;
}

.btn-hard__icon {
  position: absolute;
  top: 16px;
  right: 72px;
}

.how-it-works__title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  color: #f4f4f4;
}

.how-it-works__inner {
  margin: 0px -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-it-works__item {
  width: 33.3333%;
  padding: 0px 16px;
}

.works {
  padding: 32px;
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 16px;
  height: 100%;
}

.works__logo {
  margin-bottom: 16px;
}

.works__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.25px;
  color: #f4f4f4;
}

.works__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #cefffd;
}

.testimonials {
  padding: 240px 0 192px;
}

.testimonials__title {
  margin-bottom: 32px;
}

.testimonials__inner {
  margin: 0px -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__item {
  width: 33.3333%;
  padding: 0px 16px;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  color: #373737;
}

.review {
  padding: 48px 0;
}

.review__person {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__photo {
  width: 67px;
  height: 67px;
  margin-right: 26px;
  border-radius: 100px;
}

.review__name {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #373737;
}

.review__position {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3fc2bb;
}

.review__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.un-graph__inner {
  position: relative;
}

.un-graph__title {
  margin-bottom: 18px;
}

.un-graph__text {
  margin-bottom: 32px;
  max-width: 770px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.un-graph__bg {
  position: absolute;
  right: -30px;
  top: -120px;
}

.slider {
  padding: 21px 0;
  cursor: pointer;
  margin-bottom: 12px;
}

.slider__item {
  margin: 0px 20px;
  border-radius: 20.317px;
}

.slider__item img {
  max-width: 344px;
  width: 100%;
}

.polzunok {
  padding: 0px 25px;
  height: 8px;
  background: #e8eaec;
  border-radius: 4px;
}

#polzunok {
  position: relative;
}

.ui-slider.ui-slider-horizontal {
  height: 8px;
  background: #e8eaec;
  border-radius: 4px;
  border: none;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  top: 1px;
  width: 50px;
  height: 6px;
  margin-left: -25px;
  outline: none;
  border: none;
  background: #ffd703;
  border-radius: 4px;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  height: 8px;
  background: #e8eaec;
}

.features {
  padding: 240px 0px 120px;
}

.features__title {
  margin-bottom: 96px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -16px;
}

.features__item {
  width: 33.3333%;
  padding: 0px 16px;
}

.features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 96px;
}

.features-card__icon {
  margin-right: 30px;
}

.features-card__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.25px;
}

.features-card__title--yellow {
  color: #ffd84e;
}

.features-card__title--red {
  color: #fb6363;
}

.features-card__title--purple-1 {
  color: #a66df5;
}

.features-card__title--green {
  color: #6dd6b0;
}

.features-card__title--blue {
  color: #708cf0;
}

.features-card__title--purple-2 {
  color: #a02e8e;
}

.features-card__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #707070;
}

.about__inner {
  padding: 516px 648px 104px 32px;
  background: #e8e1d9 url("../img/about/bg-about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.about__content {
  padding: 32px 64px;
  background: rgba(255, 255, 255, 0.8);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 16px;
}

.carousel {
  cursor: pointer;
}

.carousel__title {
  margin-bottom: 8px;
}

.carousel__text {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.carousel__btn {
  position: absolute;
  bottom: -32px;
  z-index: 100;
  width: 17px;
  height: 17px;
  outline: none;
  border: none;
  border-top: 3px solid #2c2c2c;
  border-right: 3px solid #2c2c2c;
  cursor: pointer;
  background: transparent;
}

.carousel__btn.slick-prev {
  right: 70px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.carousel__btn.slick-next {
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel ul,
.carousel li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.carousel .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.carousel .slick-dots li {
  margin: 0px 8px;
}

.carousel .slick-dots button {
  padding: 0;
  width: 10px;
  height: 10px;
  outline: none;
  border: 2px solid #a8c8e9;
  border-radius: 50%;
  background: #ffffff;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.carousel .slick-dots .slick-active button {
  border: 0;
  background: #ffd703;
}

.team {
  padding: 240px 0;
}

.team__title {
  margin-bottom: 17px;
}

.team__inner {
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__text {
  max-width: 830px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -16px;
}

.team__item {
  width: 25%;
  padding: 0px 16px;
}

.team-card__inner {
  position: relative;
}

.team-card__photo {
  width: 100%;
}

.team-card__content {
  padding: 16px 32px;
  width: 272px;
  height: 158px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  border-radius: 30px;
}

.team-card__name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #373737;
}

.team-card__position {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3fc2bb;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 184px;
  height: 46px;
}

.social__item {
  width: 46px;
  height: 46px;
  background-color: #3fc2bb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social__item img {
  width: 26px;
  height: 26px;
  position: relative;
}

.social__item:hover {
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
}

.social__item--white {
  background-color: #ffffff;
}

.social__telegram {
  width: 24px !important;
  height: 24px !important;
  top: 1px;
  left: -2px;
}

.social__linkedin {
  width: 24px !important;
  height: 24px !important;
  top: -1px;
  left: 0px;
}

.download {
  padding: 155px 0;
  background: #3fc2bb url("../img/header/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.download__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 106px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.download__text {
  margin: 0 auto 32px;
  max-width: 610px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.download__social {
  margin: 0 auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 486px;
  width: 100%;
  margin: 0 auto 32px;
}

.form__input {
  max-width: 312px;
  width: 100%;
  padding: 14px 34px;
  margin-right: 16px;
  background: #ffffff;
  border: 1px solid #cafffd;
  border-radius: 2000px;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__input:focus {
  border-color: #ffd703;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.footer {
  padding: 40px 0;
  background: #0b514d;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__col {
  width: 25%;
  margin-bottom: 37px;
  padding-right: 10px;
}

.footer__bottom {
  padding-top: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #e5edf5;
  opacity: 0.2;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  margin-right: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #38b7af;
  opacity: 0.5;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #3fc2bb;
  opacity: 0.4;
}

.footer__text img {
  position: relative;
  top: 1px;
}

.link__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f4f4f4;
}

.link__item {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #38b7af;
}

.link__item:hover {
  text-decoration: underline;
}
