$white: #ffffff;
$yellow: #ffd703;
$dark: #373737;

$transition: all 0.2s;

$extra-large: "max-width: 1439px"; // 1200 - 1439
$large: "max-width: 1199px"; // 992 - 1199
$medium: "max-width: 991px"; // 768 - 991
$small: "max-width: 767px"; // 576 - 767
$extra-small: "max-width: 575px"; // <= 575
