@import "_variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/btn-lightning";
@import "blocks/listen-to";
@import "blocks/btn-hard";
@import "blocks/how-it-works";
@import "blocks/works";
@import "blocks/testimonials";
@import "blocks/title";
@import "blocks/review";
@import "blocks/un-graph";
@import "blocks/slider";
@import "blocks/polzunok";
@import "blocks/features";
@import "blocks/features-card";
@import "blocks/about";
@import "blocks/carousel";
