.about {
  &__inner {
    padding: 516px 32px 104px;
    background: #e8e1d9 url("../img/about/bg-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;

    @media ($large) {
      padding: 316px 32px 104px;
    }

    @media ($medium) {
      padding: 216px 16px 64px;
    }

    @media ($small) {
      padding: 128px 16px 32px;
    }
  }

  &__content {
    max-width: 824px;
    width: 100%;
    padding: 32px 64px;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(24px);
    border-radius: 16px;

    @media ($small) {
      padding: 16px 32px;
    }
  }
}
