.carousel {
  cursor: pointer;

  &__title {
    margin-bottom: 8px;

    @media ($medium) {
      font-size: 52px;
    }

    @media ($small) {
      font-size: 36px;
    }

    @media ($extra-small) {
      text-align: left;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__text {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #707070;

    @media ($small) {
      margin-bottom: 24px;
      font-size: 14px;
    }

    @media ($extra-small) {
      line-height: 22px;
      margin-bottom: 48px;
    }
  }

  &__btn {
    position: absolute;
    bottom: -32px;
    z-index: 100;
    width: 17px;
    height: 17px;
    outline: none;
    border: none;
    border-top: 3px solid #2c2c2c;
    border-right: 3px solid #2c2c2c;
    cursor: pointer;
    background: transparent;

    &.slick-prev {
      right: 70px;
      transform: rotate(-135deg);
    }

    &.slick-next {
      right: 20px;
      transform: rotate(45deg);
    }

    @media ($extra-small) {
      display: none !important;
    }
  }

  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);

    @media ($extra-small) {
      bottom: 24px;
    }

    li {
      margin: 0px 8px;
    }

    button {
      padding: 0;
      width: 10px;
      height: 10px;
      outline: none;
      border: 2px solid #a8c8e9;
      border-radius: 50%;
      background: $white;
      font-size: 0;
      color: transparent;
      cursor: pointer;
    }

    .slick-active {
      button {
        border: 0;
        background: $yellow;
      }
    }
  }
}
