.carousel {
  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #707070;
  }

  &__btn {
    position: absolute;
    bottom: -32px;
    z-index: 100;
    width: 17px;
    height: 17px;
    outline: none;
    border: none;
    border-top: 3px solid #2c2c2c;
    border-right: 3px solid #2c2c2c;
    cursor: pointer;
    background: transparent;

    &.slick-prev {
      right: 70px;
      transform: rotate(-135deg);
    }

    &.slick-next {
      right: 20px;
      transform: rotate(45deg);
    }
  }

  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin: 0px 8px;
    }

    button {
      padding: 0;
      width: 10px;
      height: 10px;
      outline: none;
      border: 2px solid #a8c8e9;
      border-radius: 50%;
      background: $white;
      font-size: 0;
      color: transparent;
      cursor: pointer;
    }

    .slick-active {
      button {
        border: 0;
        background: $yellow;
      }
    }
  }
}
