.download {
  padding: 155px 0;
  background: $blue-green url("../img/header/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 106px;
    line-height: 130%;
    text-align: center;
    color: $white;
  }

  &__text {
    margin: 0 auto 32px;
    max-width: 610px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $white;
  }

  &__social {
    margin: 0 auto;
  }
}
