.download {
  padding: 155px 0;
  background: $blue-green url("../img/header/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media ($large) {
    padding: 120px 0;
  }

  @media ($small) {
    padding: 80px 0;
  }

  @media ($extra-small) {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 106px;
    line-height: 130%;
    text-align: center;
    color: $white;

    @media ($extra-large-XL) {
      font-size: 96px;
    }

    @media ($small) {
      font-size: 66px;
    }

    @media ($extra-small) {
      font-size: 54px;
    }
  }

  &__text {
    margin: 0 auto 32px;
    max-width: 610px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $white;
  }

  &__social {
    margin: 0 auto;
  }
}
