.features {
  padding: 240px 0px 120px;

  &__title {
    margin-bottom: 96px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -16px;
  }

  &__item {
    width: 33.3333%;
    padding: 0px 16px;
  }
}
