.features-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 96px;

  @media ($large) {
    margin-bottom: 76px;
  }

  @media ($small) {
    margin-bottom: 56px;
  }

  @media ($extra-small) {
    margin-bottom: 40px;
  }

  &__icon {
    width: 116px;
    margin-right: 30px;

    @media ($extra-large) {
      width: 90px;
      margin-right: 20px;
    }

    @media ($medium) {
      width: 70px;
      margin-right: 16px;
    }

    @media ($extra-small) {
      width: 60px;
      margin-right: 10px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.25px;

    @media ($extra-large) {
      font-size: 34px;
    }

    @media ($medium) {
      margin-bottom: 0;
    }

    @media ($extra-small) {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }

  &__title--yellow {
    color: #ffd84e;
  }

  &__title--red {
    color: #fb6363;
  }

  &__title--purple-1 {
    color: #a66df5;
  }

  &__title--green {
    color: #6dd6b0;
  }

  &__title--blue {
    color: #708cf0;
  }

  &__title--purple-2 {
    color: #a02e8e;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #707070;

    @media ($extra-small) {
      margin-left: -62px;
    }
  }
}
