.footer {
  padding: 40px 0;
  background: #0b514d;

  &__top {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    width: 25%;
    margin-bottom: 37px;
    padding-right: 10px;

    @media ($extra-small) {
      width: 50%;
      margin-bottom: 26px;
    }
  }

  &__bottom {
    padding-top: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #e5edf5;
      opacity: 0.2;
    }

    @media ($small) {
      display: block;
    }
  }

  &__inner {
    display: flex;

    @media ($small) {
      margin-bottom: 20px;
      justify-content: center;
    }
  }

  &__link {
    margin-right: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #38b7af;
    opacity: 0.5;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      @media ($small) {
        margin-right: 0;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #3fc2bb;
    opacity: 0.4;

    @media ($small) {
      text-align: center;
    }

    img {
      position: relative;
      top: 1px;
    }
  }
}
