.how-it-works {
  &__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    color: #f4f4f4;
  }

  &__inner {
    margin: 0px -16px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.3333%;
    padding: 0px 16px;
  }
}
