.link {
  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #f4f4f4;
  }

  &__item {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #38b7af;

    &:hover {
      text-decoration: underline;
    }
  }
}
