.listen-to {
  margin-bottom: 183px;
  display: flex;
  justify-content: space-between;

  &__content {
    max-width: 900px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 106px;
    line-height: 130%;
    color: #f4f4f4;
  }

  &__text {
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #cefffd;
    mix-blend-mode: normal;
  }

  &__play {
    position: relative;
    max-width: 500px;
    width: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      cursor: pointer;
    }
  }
}
