.listen-to {
  margin-bottom: 183px;
  display: flex;
  justify-content: space-between;

  @media ($extra-large) {
    margin-bottom: 143px;
  }

  @media ($small) {
    margin-bottom: 100px;
  }

  &__content {
    max-width: 900px;

    @media ($extra-large-XL) {
      max-width: 800px;
    }

    @media ($large) {
      max-width: 600px;
    }

    @media ($medium) {
      max-width: 500px;
    }

    @media ($small) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 106px;
    line-height: 130%;
    color: #f4f4f4;

    @media ($extra-large-XL) {
      font-size: 96px;
    }

    @media ($extra-large) {
      font-size: 78px;
    }

    @media ($large) {
      font-size: 68px;
    }

    @media ($small) {
      font-size: 58px;
    }

    @media ($extra-small) {
      font-size: 48px;
    }
  }

  &__text {
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #cefffd;
    mix-blend-mode: normal;

    @media ($extra-large) {
      font-size: 22px;
    }

    @media ($large) {
      font-size: 20px;
      margin-bottom: 50px;
    }

    @media ($small) {
      font-size: 18px;
    }

    @media ($extra-small) {
      font-size: 16px;
    }
  }

  &__play {
    position: relative;
    max-width: 500px;
    width: 100%;

    @media ($extra-large) {
      max-width: 400px;
    }

    @media ($large) {
      max-width: 300px;
    }

    @media ($small) {
      display: none;
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      cursor: pointer;
    }
  }
}
