.nav {
  display: flex;
  align-items: center;

  @media ($small) {
    display: none;
  }

  &__link {
    padding: 16px 24px;
    margin-right: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $white;
    transition: $transition;

    &:nth-child(6) {
      @media ($medium) {
        margin-right: 0;
      }
    }

    @media ($extra-large) {
      margin-right: 16px;
    }

    @media ($large) {
      padding: 12px 14px;
    }
  }

  &__link:hover {
    color: $yellow;
  }

  .btn-lightning {
    @media ($medium) {
      display: none;
    }
  }
}
