.nav {
  display: flex;
  align-items: center;

  @media ($small) {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1000;
    background: $blue-green;
  }

  @media (min-width: 768px) {
    display: flex !important;
  }

  &__link {
    padding: 16px 24px;
    margin-right: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $white;
    transition: $transition;

    &:nth-child(6) {
      @media ($medium) {
        margin-right: 0;
      }
    }

    @media ($extra-large) {
      margin-right: 16px;
    }

    @media ($large) {
      padding: 12px 14px;
    }

    @media ($small) {
      display: block;
      margin: 0;
      width: 100%;
      text-align: center;
      border-top: 1px solid $white;
      font-size: 16px;
      padding: 18px 14px;

    }
  }

  &__link:hover {
    color: $yellow;
  }

  .btn-lightning {
    @media ($medium) {
      display: none;
    }
  }
}
