.nav {
  display: flex;
  align-items: center;

  &__link {
    padding: 16px 24px;
    margin-right: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: $white;
    transition: $transition;
  }

  &__link:hover {
    color: $yellow;
  }
}
