.review {
  padding: 48px 0;

  &__person {
    margin-bottom: 24px;
    display: flex;
  }

  &__photo {
    width: 67px;
    height: 67px;
    margin-right: 26px;
    border-radius: 100px;
  }

  &__name {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: $dark;
  }

  &__position {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $blue-green;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #707070;
  }
}
