.social {
  display: flex;
  justify-content: space-between;
  width: 184px;
  height: 46px;

  &__item {
    width: 46px;
    height: 46px;
    background-color: $blue-green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    img {
      width: 26px;
      height: 26px;
      position: relative;
    }

    &:hover {
      transform: translateY(-7%);
    }
  }

  &__item--white {
    background-color: $white;
  }

  &__telegram {
    width: 24px !important;
    height: 24px !important;
    top: 1px;
    left: -2px;
  }

  &__linkedin {
    width: 24px !important;
    height: 24px !important;
    top: -1px;
    left: 0px;
  }
}
