.team-card {
  &__inner {
    position: relative;
  }

  &__photo {
    width: 100%;
  }

  &__content {
    padding: 16px 32px;
    max-width: 272px;
    width: 100%;
    height: 158px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(13px);
    border-radius: 30px;

    @media ($large) {
      padding: 8px 16px;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $dark;

    @media ($large) {
      font-size: 22px;
    }
  }

  &__position {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $blue-green;
  }
}
