.testimonials {
  padding: 240px 0;

  &__title {
    margin-bottom: 32px;
  }

  &__inner {
    margin: 0px -16px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.3333%;
    padding: 0px 16px;
  }
}
