.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  color: $dark;

  @media ($large) {
    font-size: 56px;
  }

  @media ($small) {
    font-size: 50px;
    line-height: 70px;
  }

  @media ($extra-small) {
    text-align: center;
  }
}
