.un-graph {
  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    margin-bottom: 32px;
    max-width: 770px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #707070;
  }

  &__bg {
    position: absolute;
    right: -30px;
    top: -120px;
  }
}
