.works {
  padding: 32px;
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
  backdrop-filter: blur(24px);
  border-radius: 16px;
  height: 100%;

  &__logo {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.25px;
    color: #f4f4f4;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #cefffd;
  }
}
